@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




.header{
   padding: 40px 0;
   &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu{
   &__list{
      display: flex;
   }
   &__list-item + .menu__list-item{ 
      padding-left: 35px;
   }
   &__list-link{
      color: $title;
      padding-bottom: 0 2px 1px;
      transition: all .3s ease;
      @extend %roboto-400;
      &:hover{
         color: $accent;
         border-bottom: solid 1px $accent;
         @extend %roboto-700;
      }
   }
   &__list-link--active{
      color: $accent;
      border-bottom: solid 1px $accent;
      @extend %roboto-700;
   }
   
}

.user-nav{
   display: flex;
   &__link{
      position: relative;
   }
   &__link + .user-nav__link{
      padding-left: 25px;
   }
   &__num{
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $accent;
      top: -9px;
      right: -14px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      line-height: 20px;
   }
}



.footer {
   background-color: $bg
}

.footer-top {
   padding: 70px 0 40px;
   border-bottom: 1px solid #ececec;
   display: flex;
   
      &__contact{
         width: 250px;
         margin-right: 50px
      }
      &__nav{
         width: 170;
         margin-right: 30px;
      }
      &__item-form{
         max-width: 470px;
      }

		&__adress,
      &__email,
      &__phone {
         margin-bottom: 10px;
         display: block;
      }      
		

		&__social-list {
         display: flex;
         margin-top: 30px;
         align-items: center;
         margin-bottom: 10px;
		}

		&__social-item + .footer-top__social-item {
         padding-left: 18px;
		}

		&__social-link {
         path{
            fill: $default;
            transition: all .3s ease;
         }
         &:hover{
            path{
               fill: $accent;
            }
         }
		}
      &__logo{
         margin-bottom: 33px;
         display: block;
      }

		&__title {
         font-size: 22px;
         color: $title;
         line-height: 1;
         @extend %roboto-500;
         margin-bottom: 40px;
         }

		&__link {
         margin-bottom: 10px;
         display: block;
		}

		&__text {
         margin-bottom: 25px;
		}

		&__form-input {
         background-color: #fff;
         max-width: 320px;
         width: 100%;
         border: none;
         padding: 12px 10px 12px 15px;
         box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
         &::placeholder{
            color: $default;
            font-size: 16px;
         }
		}

		&__form-btn {
         @extend %btn;
         border: none;
         cursor: pointer;
         
		}
   }

.fooret-botton {
   height: 75px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 12px;

		&__accept {
         display: flex;
         align-items: center;
		}

		&__accept-img {
         margin-left: 25px;
         
		}
}
.top-slider {
background-image: url(../images/topsliderbg.png) ;
background-repeat: no-repeat;
background-size: cover;
background-color: $bg;
padding-top: 65px;
padding-bottom: 45px;
&__container{
   max-width: 1560px;
}
   &__content-my{
      display: flex;
      justify-content: space-between;
   }

   &__content {
      padding-left: 175px;
      padding-top: 125px;
   }

   &__title {
      max-width: 670px;
      color: $title;
      font-size: 58px;
      line-height: 68px;
      @extend %roboto-700;
      margin-bottom: 35px;
   }

   &__text {
      max-width: 470px;
      margin-bottom: 55px;
   }

   &__link {
      @extend %btn;
      padding: 14px 35px;
   }
   .slick-dots{
      display: flex;
      justify-content: center;
      margin-top: -70px;
      li{
         padding: 0 5px;
         line-height: 0;
         button{
            padding: 0;
            font-size: 0;
            background-color: transparent;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            border: 1px solid transparent;
            position: relative;
            &::before{
               content: '';
               position: absolute;
               width: 6px;
               height: 6px;
               border-radius: 50%;
               background-color: $default;
               top: 50%;
               left: 50%;
               
               transform: translate(-50%, -50%);
            }
         }
         &.slick-active{
            button{
               border-color: $accent;
               &::before{
                  content: '';
                  background-color: $accent;
               }
            }
         }
      }
   }
}

.categories-info {
padding: 120px 0 ;
background-image: url('../images/decor/categiries-left.png');
background-repeat: no-repeat;
background-position: center left;
&__iner{
background-image: url('../images/decor/categiries-right.png');
background-repeat: no-repeat;
background-position: center right;
}

}

.info {
display: flex;
justify-content: space-between;
margin-bottom: 110px;
position: relative;

&::before{
   content: '';
   position: absolute;
top: -40px;
left: -45px;
background-image: url(../images/decor/info-before.svg) ;
width: 120px;
height: 121px;
}
&::after{
   content: '';
   position: absolute;
background-image: url(../images/decor/info-after.svg);
bottom: -23px;
right: -23px;
width: 65px;
height: 52px;
}
		&__item {
         background-color: #fff;
         z-index: 1;
         padding: 60px 30px ;
         box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
         width: 370px;
		}

		&__item-title {
         margin: 35px 0 10px;
         color: $title;
         font-size: 22px;
         @extend %roboto-400;
		}
}
.categories {

		&__items {
         display: grid;
         min-height: 635px;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(2, 1fr);
         gap: 30px;
		}

		&__item {
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center center;
         padding-top: 35px;
         padding-left: 40px;
         &:nth-child(1){
            grid-row: span 2;
            .categories__item-subtitle{
               color: #5800e4;
            }
            .categories__link:hover{
               color: #5800e4;
               border-bottom: 1px solid #5800e4;
               padding-bottom: 5px;
            }
         }
         &:nth-child(2){
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            display: block;
            .categories__item-subtitle{
               color: $accent;
            }
            .categories__link{
            &:hover{
               color: $accent;
               border-bottom: 1px solid $accent;
               padding-bottom: 5px;
            }
         }
         }
         &:nth-child(3){
            .categories__item-subtitle{
               color: #ffb534;
            }
            .categories__link:hover{
               color: #ffb534;
               border-bottom: 1px solid #ffb534;
               padding-bottom: 5px;
            }
         }
         &:nth-child(4){
            .categories__item-subtitle{
               color: #34c3ff;
            }
            .categories__link:hover{
               color: #34c3ff;
               border-bottom: 1px solid #34c3ff;
               padding-bottom: 5px;
            }
         }
		}

		&__item-subtitle {
         margin-bottom: 5px;
		}

		&__item-title {
         font-size: 22px;
         color: $title;
         margin-bottom: 10px;
         @extend %roboto-700;
		}

		&__link {
         text-transform: uppercase;
         @extend %roboto-400;
         color: $title;
         transition: all .3s;
		}
}

.video-fashion {
background-color: $bg;
background-image: url('../images/decor/pattern.svg');
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
padding: 125px 0;
   &__inner {
      display: flex
   }

   &__popup {
      margin-right: 60px;
      min-width: 530px;
      height: 480px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }

  

   &__content {
      min-width: 570px;
   }

   &__subtitle {
      color: $accent;
      text-transform: uppercase;
      font-size: 22px;
      padding-top: 75px;
      margin-bottom: 5px;
   }

   &__title {
      text-align: left;
   }

   &__text {
      margin-bottom: 55px;
   }

   &__link {
      @extend %btn;
   }
}


.product {
padding: 105px 0 120px;
text-align: center;
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 165px 30px;
      margin-bottom: 55px;
   }

   &__link {
   text-transform: uppercase;
   color: $title;
   display: inline-block;
   border: 1px solid $accent;
   padding: 14px 27px;
   margin-top: 55px;
   }
}
.title {
}
.text {
}

.product-item {
text-align: center;

   &__img-box {
      height: 370px;
      bottom: 25px;
      position: relative;
   }
   &__images{
      object-fit: cover;
   }

   &__link-box {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50px;
      background-color: #fff;
      width: 220px;
      height: 50px;
      margin: 0 auto;
      border-radius: 22px;
      box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-around;
      opacity: 0;
      transition: all .3s ease;
      
   }
   &__link{
      transition: all .3s ease;
      display: inherit;
      path{
         transition: all .3s ease;
      }
   }
   &__link:hover {
      path{
         fill: $accent;
      }
   }

   &__link--line::before{
      content:'';
      position: absolute;
      width: 1px;
      height: 30px;
      background-color: #ececec;
      top: 10px;
      left: 70px;
   }
   &__link--line::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 30px;
      background-color: #ececec;
      top: 10px;
      right: 70px;
   }
   &:hover{
      .product-item__link-box{
         opacity: 1;
      }
   }

   &__title {
      color: $title;
      font-size: 22px;
      padding: 15px 0 20px;
   }

   &__price {
      display: flex;
      justify-content: center;
      @extend %roboto-400;

   }

   &__new-price {
      color: $title;
      padding: 0 12px;
   }

   &__old-price {
      padding: 0 12px;
      text-decoration: line-through
   }
   &--sale{
      .product-item__img-box::before{
         content: 'SALE';
         @extend %btn;
         position: absolute;
         top: 25px;
         left: 25px;
         padding: 5px 10px;
      }
   }
}
.product-item-img {
}
.star {
   margin: 0 auto;
   padding-top: 25px
}









































































@import 'media';

